:root {
    --clr-black:    #191414;
    --clr-green:    #1EFF60;
    --clr-red:      #990000;
    --clr-white:    #FFFFFF;
    --clr-blue:     #6495ED;
    --clr-grey:     #808080;
}
@font-face {
    font-family: 'Prime-Regular';
    src: url(../assets/fonts/Prime-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--clr-black);
    font-family: Prime-Regular;
}
.column {
    float: left;
}
ul {
    list-style-type: none;
}
/* Song not found */
h1 {
    font-size: 20px;
}
/* Track and Album names */
h2 { 
    font-size: 20px;
    color: var(--clr-white); 
} 
/* Artist names */
h3 {
    font-size: 15px;
    color: var(--clr-grey);
}
/* Headers */
h4 {
    text-align: center;
    font-size: 10px;
}
#songAdded {
    margin: 10px;
    color: var(--clr-green);
    font-size: 20px;
}
.textList > li{
    height: 53px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--clr-white);
    max-width: 300px;
    margin-left: 25px;
}
#albumList > li, #buttonList > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li > img {
    height: 50px;
    width: 50px;
}
a > img {
    height: 21px;
    width: 70px;
    margin-top: 10px;
}
.invisibleHeader {
    color: var(--clr-black);
}
.visibleHeader {
    color: var(--clr-grey);
}
#buttonList {
    margin-right: 3px;
    margin-left: 15px;
}
#artList {
    margin-left: 3px;
}
#spotLogo {
    text-align: center;
    display: none;
}
#buttonList li {
    font-family: sans-serif;
    font-size: 50px;
    color: var(--clr-green);
}
#buttonList li:hover {
    color: var(--clr-red);
    cursor: pointer;
}
#songNotFound {
    margin: 10px;
    color: var(--clr-blue);
}