:root {
    --clr-black:    #191414;
    --clr-green:    #1DB954;
    --clr-red:      #990000;
    --clr-white:    #FFFFFF;
    --clr-blue:     #6495ED;
    --clr-grey:     #808080;
}
@font-face {
    font-family: 'Prime-Regular';
    src: url(../assets/fonts/Prime-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--clr-black);
    font-family: Prime-Regular;
}
.column {
    float: left;
}
ul {
    list-style-type: none;
}
h2 {
    text-align: center;
}
.textList > li{
    height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    color: var(--clr-white);
    max-width: 250px;
    margin-left: 15px;
}
li > img {
    height: 50px;
    width: 50px;
}
a > img {
    height: 21px;
    width: 70px;
    margin-top: 10px;
}
.invisibleHeader {
    font-size: 10px;
    color: var(--clr-black);
}
.visibleHeader {
    font-size: 10px;
    color: var(--clr-grey);
}
#buttonList {
    margin-right: 3px;
    margin-left: 15px;
}
#artList {
    margin-left: 3px;
}
#spotLogo {
    text-align: center;
    display: none;
}
#buttonList li {
    font-size: 50px;
    color: var(--clr-green);
}
#buttonList li:hover {
    color: var(--clr-red);
    cursor: pointer;
}
#songNotFound {
    margin: 10px;
    color: var(--clr-blue);
}