:root {
    --clr-black:    #191414;
    --clr-green:    #1EFF60;
    --clr-red:      #990000;
    --clr-white:    #FFFFFF;
    --clr-blue:     #6495ED;
    --clr-grey:     #808080;
}
@font-face {
    font-family: 'Prime-Regular';
    src: url(../assets/fonts/Prime-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--clr-black);
    font-family: Prime-Regular;
}
/*  */
#songNotFound {
    margin: 10px;
    color: var(--clr-blue);
}
#songAdded {
    margin: 10px;
    color: var(--clr-green);
    font-size: 20px;
}

/* Song not found */
h1 {
    font-size: 20px;
}
/* Track and Album names */
h2 { 
    font-size: 20px;
    color: var(--clr-white); 
} 
/* Artist names */
h3 {
    font-size: 15px;
    color: var(--clr-grey);
}
/* Headers */
h4 {
    text-align: center;
    font-size: 10px;
}
.invisibleHeader {
    color: var(--clr-black);
}
.visibleHeader {
    color: var(--clr-grey);
}
#wrapper {
    display: none;
}
/* LISTS */
.column {
    display: inline-block;
}
ul {
    list-style-type: none;
}
li {
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--clr-white);
    max-width: 300px;
    margin-top: 5px;
}
li > img {
    height: 50px;
    width: 50px;
}
#artList {
    margin-left: 6px;
}
.textList {
    margin-left: 10px;
    margin-right: 10px;
}
#albumList > li {
    text-align: center;
    line-height: 50px;
}

/* BUTTONS */
#buttonList li {
    font-family: sans-serif;
    font-size: 40px;
    color: var(--clr-green);
}
#buttonList li:hover {
    color: var(--clr-red);
    cursor: pointer;
}
#buttonList {
    margin-right: 6px;
    margin-left: 15px;
}

/* FOOTER */
#spotLogo {
    width: 100%;
    display: none;
    flex-flow: row;
    justify-content:center;
    align-items:center;
}
a > img {
    height: 21px;
    width: 70px;
}
hr {
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
    color: var(--clr-grey);
}

/* TEST CSS BELOW*/
