html, body {
    background-color: rgb(25, 20, 20);
}
#error-content {
    display: none;
}
#vid-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
#track1, #track2, #track3, #track4, #track5 {
    color: rgb(30, 215, 96);
}
#artist1, #artist2, #artist3, #artist4, #artist5 {
    color: rgb(255, 0, 0);;
}
#track, #artist, #add{
    color: white;
}
#track {
    grid-column-start: 1;
    grid-column-end: 2;
}
#artist {
    grid-column-start: 2;
    grid-column-end: 3;
}
#add {
    grid-column-start: 3;
    grid-column-end: 4;
}
.grid-container {
    display: grid;
}
#add1, #add2, #add3 {
    size: 25px; 
}