html, body {
    background-color: rgb(25, 20, 20);
}
#error-content {
    display: none;
}
#content {
    width: 150px;
}
#track1, #track2, #track3, #track4, #track5 {
    color: white;
    font-size: 20px;
}
#artist1, #artist2, #artist3, #artist4, #artist5 {
    color: white;
    font-size: 20px;
}
#track, #artist, #add{
    color: grey;
    font-size: 10px;
}
#track {
    grid-column-start: 1;
    grid-column-end: 2;
}
#artist {
    grid-column-start: 2;
    grid-column-end: 3;
}
#add {
    grid-column-start: 3;
    grid-column-end: 4;

}
.grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 5px;
    grid-template-columns: 225px 225px 30px;
}
#add1, #add2, #add3 {
    size: 25px;
}
button {
    font-size: 20px;
    color: rgb(30, 215, 96);
    background-color: rgb(25, 20, 20);
    border-color: rgb(25, 20, 20);
} 
#song-not-found {
    color: white;
    font-size: 20px;
    margin: auto;
}
#refine-search-btn{
    color: white;
    float: bottom;
    padding: 5px;
}